/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary-color:rgba(179,208,231,255);
    --button-color: rgba(0,97,254,255);
    --green:rgba(162,211,155,255);
    --brown:rgba(97,9,43,255);
    --sky-blue:rgba(0,147,206,255);
    --orange:rgba(255,28,28,255);
    --red:rgba(213,0,31,255);
    --dark-blue:rgba(12,36,129,255);
    --yellow:rgba(255,216,49,255);
    --black:rgba(0,0,0,255);
    --border:rgb(218, 218, 218);
}

header{
    width: 100%;
    padding: 0 1rem ;
}

::after{
    content:"";
    display:table;
    clear:both;
}

/* Utility */

.container{
    width: 55vw;
    margin: auto;
}

.actions{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}

[class^="col-"]{
    float: left;
}
.col-50{
    width: 50%;
}

.row{
    margin:auto;
}

.col-33{
    width: 33%;
    margin-top: 8px;
}

.col-100{
    width: 100%;
    margin: 10px 0;
}

/* Text */
ul.inline-list{
    list-style: none;
    display: inline-block;
}

ul.inline-list>li{
    display: inline-block;
    padding:1rem 0.5rem;
}

.text-right{
    text-align: right;
}

.title h1{
    font-size: 2.7rem;
    padding: 20px 0;
    font-weight: 800;
    word-spacing: 10px;
}

/* buttons */
.btn{
    display: inline-block;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.btn-primary{
    background-color: var(--button-color);
    color: white;
}

/* #region header */

.navbar .logo>img{
    height: 30px;
    vertical-align: sub;
}

.navbar{
    position: relative;
    height: 100%;
}
.nav-item{
    height: 100%;
}

.navbar .col-50{
    height: 100%;
}
.menu{
    width: 800px;
    height: 450px;
    display:none;
    background-color: var(--border);
    position: absolute;
    left: 188px;
    bottom: -450px;
}

.functions{
    width: 300px;
    float: left;
}
.functions>ul{
    list-style: none;
}
.functions>h3{
    padding: 10px 25px;
}

.division{
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
    padding-left: 25px;
    line-height: 35px;
}

.nav-item:hover .menu,
.menu:hover {
    display: block;
    z-index: 1000;
}

.functions li:hover{
    background-color: rgb(193, 193, 193);
}

.nav-item>a:hover{
    text-decoration: underline;
}
.nav-item:hover{
    background-color: var(--border);
}
/* #endregion header */

/* #region main */

/* #region section head */

.head{
    height: 750px;
    background-color:var(--primary-color);
    padding: 1.5rem;
}

.head h1{
    width: 80%;
    margin: auto;
    font-size: 5rem;
    font-weight: 700;
    word-spacing: 10px;
    padding: 2rem 0;
}

.head>.row{
    width:80%;
    padding-top: 1.5rem;
}
.head>.row>.col-50{
    height: 300px;
    width: 40%;
    position: relative;
}

.head .text{
    line-height: 1.8rem;
    font-size: 1.3rem;
    font-weight: 400;
    position: absolute;
    left: 35%;
}

.text>p{
    padding:20px 0;
}

.text>.arrow{
    font-size: 3rem;
}

.img-jumbo>img{
    height: 550px;
    width: 900px;
}
/* #endregion section head */

/* #region section plane */

.plane{
    margin-top: 200px;
}

.plane .input{
    padding: 20px;
    font-size: 1.5rem;
    display: inline-block;
}

input{
    height: 20px;
    width: 20px;
}

.plane>.row{
    height: 1500px;
}

.plane .col-33{
    height: 1200px;
}

.plane .col-100{
    height: 250px;
}

.box{
    height: 100%;
    border: 1px solid rgb(218, 218, 218);
    width: 90%;
}

.option{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.content{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.1rem;
    font-weight: 400;
}

.content>div{
    padding: 15px 20px;
    position: relative;
}
.period{
    color:rgb(171, 170, 170);
}
hr{
    width: 20%;
    margin:20px 0;
}
.content>.actions{
    font-size: 0.5rem;
    padding: 0.5rem 2rem;
}

.buy>a {
    text-decoration: underline;
    color: var(--button-color);
}

.content .icon,
.content .text{
    float:left;
    padding: 0 10px;
    display: inline-block;
}

.content.icon{
    width: 10%;
}

.content .text{
    width: 80%;
}

.check>.icon{
    color: var(--button-color);
}

.check:hover{
    background-color: rgb(244 244 244);
}

.plane .col-100>.box{
    width: 96%;
}

.contact .col-left>div{
    padding: 15px 0;
}

.contact .col-left{
    width: 60%;
}
.contact .col-right{
    width: 40%;
}

.contact .col-left .caption{
    font-size: 1.2rem;
    font-weight: 300;
}

.contact .col-right .btn{
    padding: 0.5rem 5rem;
}

/* #endregion section plane */

/* #region section partner */
.partner{
    height: 500px;
    margin: 20px 0;
}

.partner>.col-left,
.partner>.col-right{
    height: 100%;
}

.img-partner>img{
    width: 100%;
    height: 100%;
}

.partner>.right{
    padding:0 100px;
}

.partner h1{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 20px;
}

.partner p{
    line-height: 30px;
    font-weight: 300;
}

.partner .btn{
    border: 1px solid black;
    margin-top:30px;
}
/* #endregion section partner */

/* #region section operation */
.operation>.row{
    height: 1000px;
    margin-bottom: 20px;
}

.operation .col-33{
    height: 48%;
    margin-top: 30px;
}

.operation .img>img{
    width: 100%;
    height: 70%;
}

.operation h2{
    margin-bottom: 20px;
}
 .operation p{
    line-height: 25px;
    font-size: 1rem;
    padding-right: 15px;
 }

 .operation span{
    display: inline-block;
 }
/* #endregion section operation */

/* #region section client */
.client{
    height: 300px;
    margin-top: 50px;
}

.client .title>h1{
    font-size: 2.5rem;
    padding: 50px 0;
    font-weight: bold;
    word-spacing: 0;
}

.client a{
    color: var(--button-color);
}
/* #endregion section client */

/* #region section company */
.company{
    height: 550px;
}

.company>.row{
    height: 100%;
}
.company .col-33{
    height: 100%;
    margin:0;
}

.blocks{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}
.blocks>img{
    object-fit: cover;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.company .caption{
    padding: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 25px;
}
.company .caption>img{
    width: 25%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.company .caption>.author{
    margin-top: 50px;
}

.designit{
    background-color: var(--green);
}

.asu{
    background-color: var(--brown);
}

.uf{
    background-color: var(--sky-blue);
}
.topps{
    background-color: var(--orange);
}

.wbr{
    background-color: var(--red);
}

.hearst{
    background-color: var(--primary-color);
}

.lp{
    background-color: var(--dark-blue);
}

.cco{
    background-color: var(--yellow);
}
/* #endregion section company */

/* #region section try */
.try{
    height: 250px;
    background-color: var(--primary-color);
}
.try>.row{
    height: 100%;

}

.try .col-left,
.try .col-right{
    width: 50%;
    height: 100%;
    padding-top:50px;
}

.try .title>h1{
    font-size: 2.3rem;
    color: var(--brown);
    padding: 20px 150px 0 0;
    font-weight: 700;
}

.try .col-right>a{
    background-color: white;
    color: var(--black);
    padding: 10px 100px;
    margin-left: 100px;
    font-size: 1.1rem;
}

/* #endregion section try */

/* #region section faq */
.faq{
    height: 700px;
}

.faq>.col-100{
    height: 100%;
    margin-bottom: 40px;
}
.faq .title>h1{
    margin: 40px 0;
}
.question-row{
    border-top:1px solid rgb(218, 218, 218);
}
.question>h3{
    display: inline-block;
    padding:40px 0;
}
.question>.icons{
    display: inline-block;
    float: right;  
    font-size: 20px;
    padding:40px 0;
}
.question-row>.answer{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 25px;
    padding-right: 100px;
    color: gray;
    display: none;
    padding-bottom:40px;
}

.question-row:hover .answer{
    display: block;

}

.question-row:last-child{
    border-bottom: 1px solid rgb(218, 218, 218);
}
/* #endregion section faq */

/* #endregion main */

/* #region footer */
footer{
    background-color: var(--black);
    height: 500px;
    color: white;
}

footer>.row{
    width: 65%;
    margin:auto;
    height: 100%;
}
footer .col-20{
    width:20%;
    height: 75%;
    padding: 30px 0;
}

#site-footer ul{
    list-style: none;
}

#site-footer .actions{
    color: white;
    padding-left: 0;
    padding-top: 30px;
    font-size: 1.1rem;
    font-weight: 300;
}

#site-footer h3{
    font-size: 1.3rem;
}

#site-footer hr{
    color: var(--border);
    line-height: 1px;
    width: 150px;
}

.leng{
    color: rgb(128 128 128);
    margin-top: 60px;
}
.leng>i{
    font-size: 20px;
    vertical-align: bottom;
}

.leng select{
    background-color: var(--black);
    color: rgb(83 83 83);
    font-size: 1.1rem;
    border: none;

}
/* #endregion footer */